body {
  background-image: linear-gradient(#7797a3, #8ec3b5, #c8cdb3);
}

.options,
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  background-color: #00425a;
  color: #b1b9bc;
  margin-top: 40px;
  height: 80px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 40px;
}

.heading1 {
  height: 35px;
  padding: 10px;
  font-size: 40px;
}

.password {
  display: flex;
  background-color: #1f8a70;
  color: #d3dddb;
  margin-left: 390px;
  margin-right: 390px;
  border-radius: 20px;
  height: 70px;
  margin-top: 80px;
  flex-direction: row;
  gap: 160px;
}
.copy {
  position: fixed;
  height: 50px;
  width: 80px;
  margin-left: 650px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 21px;
}

#myCopyClip {
  visibility: hidden;
  width: 210px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  /* z-index: 1; */
  bottom: 150%;
  left: 30%;
  margin-left: -85px;
  opacity: 0;
  transition: opacity 0.3s;
}

#myCopyClip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy:hover #myCopyClip {
  visibility: visible;
  opacity: 1;
}

.pass {
  height: 30px;
  font-size: 35px;
  justify-self: flex-start;
  align-self: center;
  margin-left: 20px;
  margin-right: 120px;
}

.options {
  background-color: #bdcc70;
  flex-direction: column;
  gap: 5px;
  height: 220px;
  margin: 95px;
  margin-left: 390px;
  padding: 5px;
  width: 730px;
  border-radius: 20px;
}
.options1 {
  margin: 9px;
  height: 40px;
  font-size: 24px;
  color: #4356a4;
  cursor: pointer;
  width: 390px;
  border-radius: 20px;
}
